* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right top, #3f4b5d, #585e6d, #70727d, #88888d, #9e9e9e); */
    background-color: #f8e7e7;
    background-size: cover;
    height: 100%;
}

.mainContainer{
    border-radius: 20px;
    background: #e8a1a1;
    box-shadow:  3px 3px 10px #be8484,
             -3px -3px 10px #ffbebe;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
}

.formContainer{
    width: 95%;
    height: 10%;
    margin: 10px 0 5px 0;
}

.inputContainer{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: none;
}

.taskContainer{
    border-radius: 5px;
    margin: 3px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10%;
    background: #e8a1a1;
    box-shadow:  3px 3px 10px #be8484,
             -3px -3px 10px #ffbebe;

/* box-shadow:  3px 3px 3px #b55555,
            -3px -3px 3px #ff8585;    */
}

.textContainerJS{
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    white-space: normal;
    word-wrap: break-word;
    width: 77%;
    height: 90%;
    padding: 5px;
}

.delBtnJsContainer{
    display: flex;
    width: 17%;
    height: 90%;
    padding: 5px;
}

.delBtnJS{
    border-radius: 5px;
    border: none;
    width: 100%;
    color: aliceblue;
    border-radius: 5px;
    background-color: #585e6d;
}

.checkMarkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 90%;
    background-color: #585e6d;
}